# Local .terraform directories
**/.terraform
**/.terraform.lock.hcl
.terraform
.terraform.lock.hcl

# .tfstate files
**/*.tfstate
**/*.tfstate.*
*.tfstate
*.tfstate.*
**/*.out
*.out

# plan files
**/*.plan
**/*.tfplan
*.plan
tfplan

# Crash log files
crash.log
crash.*.log

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore transient lock info files created by terraform apply
**/.terraform.tfstate.lock.info
**/.terraform

**/.terraformrc
**/terraform.rc
.terraform.d/
**/.terraform.d/

**/*.log.*

**/user-inputs.ignore.sh

**/.DS_Store

**/Chart.lock

**/.kube
.kube

**/.scratch_dir

**/.tmp

**/cluster-build.log
**/cluster-build.txt
**/cluster-details.json
**/cluster-acmhub.json
__pycache__/
*.pyc
rendered/
**/rendered/
**/terraform.auto.tfvars.json
**/backend.hcl
**/backend_override.tfbackend
**/*.tfbackend
.artifacts/
out/
