# Local .terraform directories
**/.terraform
**/.terraform.lock.hcl

# .tfstate files
**/*.tfstate
**/*.tfstate.*
**/*.out

# plan files
**/*.plan

# Crash log files
crash.log
crash.*.log

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore transient lock info files created by terraform apply
**/.terraform.tfstate.lock.info
**/.terraform

**/.terraformrc
**/terraform.rc

**/*.log.*

**/user-inputs.ignore.sh

**/.DS_Store

**/Chart.lock

**/.kube

**/.tmp

**/cluster-build.log
**/cluster-build.txt